body {
        font-family: Arial, sans-serif;
        margin: 30px;
        background-color: rgb(124, 136, 146);
      }
      h1 {
        color: rgb(68, 41, 41);
      }
      ul {
        list-style-type: none;
        padding: 0;
      }
      li {
        margin: 10px 0;
      }
      a {
        text-decoration: none;
        color: #007bff;
      }
      a:hover {
        text-decoration: underline;
      }